<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Fuchimi-Game/src/fuchimi/FuchimiGame.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fuchimi.FuchimiGame"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Fuchimi-Game"/>
</launchConfiguration>
